data/faster_rcnn_models/vgg16_faster_rcnn_iter_80000.caffemodel filter=lfs diff=lfs merge=lfs -text
data/faster_rcnn_models/ZF_faster_rcnn_final.caffemodel filter=lfs diff=lfs merge=lfs -text
data/faster_rcnn_models filter=lfs diff=lfs merge=lfs -text
